<!DOCTYPE html>
<html>
  <head>
    <title>Devknight</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header id="main_navigation" class="clearfix">
  <a href="javascript:void(0);" style="font-size:1.5em;" class="icon" onclick="myFunction()">&#9776;</a>
    <%= link_to "DevKnight", root_path, class: "name"%>
    <nav id="mySidenav" class="sidenav">
      <%= link_to "Tutorials", posts_path %>
      <%= link_to "Challenges", projects_path %>
      <a href="#">Team</a>
      <a href="#">Contact</a>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer id="main_footer">
    <p class="copyright">&copy; 2017 DevKnight</p>
    <nav>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-google"></i></a>
    </nav>
  </footer>
</html>
